<div id="add-operation-dialog" title="Add new operation" style="display:none">

    @using (Html.BeginForm("AddOperation", "Home", FormMethod.Post, new { id = "operation-form" }))
    {

        <p style="font-size: 1.2em; font-weight: 600;">Name: <span id="name"></span></p>
        
        @Html.Label("type", "Operation type:")
        <select id="operation-type"></select>

        @Html.Label("count", "Count:")
        <input id="count" type="text" />
    }
</div>