@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_AddProduct")


<table id="jsonmap"></table>
<div id="pjmap"></div>
<input type='button' id='edit-row-btn' value='Edit'/>

<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jqGridCss/ui.jqgrid.css" />

<script src="~/Scripts/jqGrid/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="~/Scripts/app/grid.js" type="text/javascript"></script>